polipo
polipo\.exe
core
*.o
polipo.html
polipo.info
html/
#Qt project files
polipo.config
polipo.creatoR
polipo.creator.user
polipo.files
polipo.includes
#cscope files
cscope.files
cscope.in.out
cscope.out
cscope.po.out
